/* 
title {
    color: rgb(118, 113, 113);
}
h1 {
    color: rgb(42, 95%, 35%);
    text-align: center;
}

nav {
    background-color: blue;
    padding: 20px;
    margin: 5px;
    border: 10px;
    text-align: center;
    font-size: 25px;
    }
 nav ul {
    margin: 10px;
    padding: 0px;
 }
 li {
     padding: 40px;
     border: solid,5px,red;
     display: inline-block;
     font-size: 20px;
     text-align: center;

 }
body{
    background-color: rgb(87, 80, 80);
}
a {padding-right: 180px;
} */

div {
    background: grey;
  }